VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MODERATOR_EMAIL=
MODERATOR_PASSWORD=
MODERATOR_FIRST_NAME=
MODERATOR_LAST_NAME=
MODERATOR_PHONE=
MODERATOR_COLLEGE_ROLL=
MODERATOR_DEPARTMENT=